body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

img.icon {
    width: 1em;
    height: 1em;
}

img.i {
    width: 32px;
    height: 32px;
    margin-right: 0.5em;
    vertical-align: middle;
}

main a {
    text-decoration: none;
    color: #6178a7;
}

main a:active {
    text-decoration: none;
    color: #6178a7;
}

main a:visited {
    text-decoration: none;
    color: #6178a7;
}

main a:hover {
    text-decoration: underline;
}

.footer a {
    text-decoration: none;
    color: #6178a7;
}

.footer a:active {
    text-decoration: none;
    color: #6178a7;
}

.footer a:visited {
    text-decoration: none;
    color: #6178a7;
}

.footer a:hover {
    text-decoration: underline;
}

img.dl_img {
    width: 100%;
    max-width: 256px;
    height: auto;
}

img.ss {
    width: 100%;
    max-width: 184px;
    height: auto;
    margin: 1px;
}

img.s {
    vertical-align: top;
    border-style: none;
}

div.ss {
    line-height: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.titlebar {
    background-color: #dde9f8;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

img.item_icon {
    max-width: 192px;
    width: 100%;
    height: auto;
}

img.item_s_icon {
    width: 48px;
    height: 48px;
}

a.lb {
    display: block;
    padding: 0.5em;
    background-color: #f0f8f9;
    border-radius: 1.125em;
    border-style: solid;
    border-color: #dde9f8;
    border-width: 1px;
    margin-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}